<div class="container">
    <div data-role="content" class="content">
    <p>Select a profile from the list below to see more details.</p>
      <h3>Verizon Profiles</h3>
      <div class="btn-group-vertical" id="profile-list-verizon" role="group">
      	<% _.each(collection, function(model){ if(model.provider == 'VZW'){ %>
      		<button type="button" class="btn btn-default" data-id="<%= model.id %>">
      			<%= model.description %>
	  			<span class="glyphicon glyphicon-chevron-right"></span>
	  		</button>
	  	<% }}) %>
	  </div>

	  <h3>Partner Profiles</h3>
	  <div class="btn-group-vertical" id="profile-list-partner" role="group">
      	<% _.each(collection, function(model){ if(model.provider != 'VZW'){ %>
      		<button type="button" class="btn btn-default">
      			<%= model.description %> (<%= model.provider %>)
	  			<span class="glyphicon glyphicon-chevron-right"></span>
	  		</button>
	  	<% }}) %>
	  </div>
      
    </div>
</div>